$main_bg: #ecf0f1;
$main_font: 'Roboto', sans-serif;

html, body, p { 
    margin: 0px; 
    padding: 0px;
}

body {
    font-family: $main_font;
	background-color: $main_bg;
}

@import "partials/admin_variables";
@import "partials/admin_header";
@import "partials/admin_helpers";
@import "partials/admin_dropdown_list";
@import "partials/admin_navbar";
@import "compass/reset";
