/* line 1, ../../sass/partials/admin_helpers.scss */
.uni_display {
  display: inline-block;
}

/* line 4, ../../sass/partials/admin_helpers.scss */
.fl {
  float: left;
}

/* line 7, ../../sass/partials/admin_helpers.scss */
.fr {
  float: right;
}
