.blocks_support {
	cursor: pointer;
	margin: 50px 5px 20px 20px;	
	.block_content_support {
		width: 20%;
	  	min-height: 210px;
	  	margin-right: 9%;
	  	padding: 25px 18px 15px 18px;
	}
	.img_circle {
		display: table;
	  	margin: auto;
	  	padding-bottom: 35px; 
	}
	.btn_block_support {
		background-color: #009be5;
	    display: table;
	    font-size: 15px;
	    font-weight: bold;
	    padding: 15px 55px 15px 55px;
			margin: auto;
	    border-radius: 3px;
	    text-decoration: $decor;
		color: #fff;
		&:hover {
			background-color: #47799;
		}
	}
	.pad_btn {
		padding: 15px 30px 15px 30px;
	}			
	.description_support {
		font-size: 15px;
		text-align: center;
		font-weight: bold;
		padding: 30px 5px 30px 5px;
		color: #34495d;	
	}
}