.footer_copy {
	-webkit-box-shadow: 0px 6px 5px 6px #d2d2d2;
  -moz-box-shadow: 0px 6px 5px 6px #d2d2d2;
  box-shadow: 0px 6px 5px 6px #d2d2d2;
  background-color: #7f8c8d;
  min-height: 70px;
  .admin_copy_footer {
  	font-family: $main_font;
  	padding-top: 30px;
  	font-weight: 200;
		display: table;
		margin: auto;
  	color: #fff;
  } 
}