.blocks_elements {
	margin: 50px 5px 20px 35px;
	cursor: pointer;
	.title_block_desc {
		font-family: $main_font;
		font-weight: bold;
		font-size: 25px;
		color: #666666;
	}
	.block_inputs {
		margin: 0 0 30px 10px;
		.input_element {
		  	padding: 7px 5px 7px 10px;
	  	  	margin: 20px 18px 10px 0;
	  	  	line-height: 1.42857143;
	  	  	background-color: #fff;
	  	  	border-radius: 5px;
	  	  	font-size: 14px;
	  	  	color: #34495e;
	  	  	border: none;
	  	  	width: 21%;
		}
		.un_active {
			border: 1px solid #d4d9dc;
			outline-color: #d4d9dc; 
		}
		.active {
			border: 2px solid #009be5;
			font-weight: bold;
			&::-webkit-input-placeholder {
    			color: #34485d;
   			}
   			&::-moz-input-placeholder {
    			color: #34485d;
   			}  
		}
		.alert {
			border: 2px solid #e74c3c;
			outline-color: #e74c3c; 
			font-weight: bold;
			&::-webkit-input-placeholder {
    			color: #e74c3c;
   			}
   			&::-moz-placeholder {
    			color: #e74c3c;
   			} 
		}
		.disabled {
			background-color: #dee2e4;
			outline-color: #d4d9dc;
			&::-webkit-input-placeholder {
    			color: #c4cbce;
   			}
   			&::-moz-placeholder {
    			color: #c4cbce;
   			}
		}
	}
	.block_sliders {
	  	margin: 0 0 30px 10px;
		.progressbars_sliders {
			width: 30%;
			margin-right: 75px;
			.progress_bar {
				margin: 20px 0 20px 0;
			  	border-radius: 10px;
			  	overflow: hidden;
				height: 13px;
				width: 48%;
				&::-webkit-progress-value {
				  	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
				  	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
					background-color: #009be5;
				}
			}
			.long {
				width: 82%;
			}
			.middle {
				width: 62%;
			}
			.range_slider {
				width: 48%;
				margin: 20px 0 20px 0;
				&::-webkit-slider-runnable-track {;
    				background: #009be5;
    				border-radius: 10px;
					height: 13px;
    				border: none;
				}
				&::-webkit-slider-thumb {
				    border-radius: 20px;
				    background: #eee;
				    margin-top: -4px;
				    padding: 10px;
					border: none;
				    height: 25px;
				    width: 25px;
				}
			}
		}
		.navigation {
			vertical-align: top;
			width: 59%;
			.first_element {
				&:hover {
					background-color: #2980B9;
					border-radius: 6px 0 0 6px;
				}
			}
			.last_element {
				&:hover {
					background-color: #2980B9;
					border-radius: 0 6px 6px 0;
				}
			}
			.nav_icons {
				margin: 25px 40px 25px 0;
				width: 164px;
				background-color: #009be5;
				border-radius: 6px;
				.active_nav {
					background-color: #2980B9;
				}
				ul {
					li {
						display: inline-block;
						padding: 10px 13px 10px 13px;
						margin-left: -4px;
						&:hover {
							background-color: #2980B9; 
						}
						a {
							text-decoration: $decor;
							color: #fff;
						}
					}
				}
			}
			.nav_selectors {
				background-color: #009be5;
			  	vertical-align: top;	
				border-radius: 6px;
				margin: 25px 0 25px 0;
				width: 195px;
				ul {
					.r_border {
						border-right: 1px solid #008fd5;
					}
					li {
						display: inline-block;
						padding: 10px 13px 10px 13px;
						&:hover {
							background-color: #2980B9; 
						}
						a {
							text-decoration: $decor;
							color: #fff;
						}
					}
				}
			}
			.pagination {
				width: 552px;
				margin: 10px 0 10px 0;
				.pagination_list {
					background-color: #d7dcde;
					.first_el_pag {
						border-right: 1px solid #fff;
						border-radius: 6px 0 0 6px;
						padding: 10px;
						font-size: 15px;
						a {
							color: #fff;
							background-color: #d7dcde;
							&:hover {
								padding: 0px 4px 0px 4px;
								border-radius: none;
								background-color: #fff;
							} 
						}
					}
					.last_el_pag {
						border-left: 1px solid #fff;
						border-radius: 0 6px 6px 0;
						padding: 10px;
						font-size: 15px;
						a {
							color: #fff;
							background-color: #d7dcde; 
						}
					}
					li {
						display: inline-block;
						padding: 10px 5px 10px 5px;
						a {
							background-color: #fff;
							padding: 0 5px 0 7px;
							border-radius: 25px;
							text-decoration: $decor;
							font-size: 12px;
							&:hover {
								padding: 2px 10px 2px 8px;
								border-radius: 25px;
								background-color: #009be5;
							}
						}
					}
				}
			}
		}
	}
	.che_radio_too_blocks {
	  	margin: 0 0 30px 10px; 
		.checkbox_radio_block {
			width: 25%;
			margin-right: 10px;
			.checkboxes_radio_desc {
				margin: 30px 0 10px 0;
				.check_radio_icons {
					font-family: $main_font;
					font-size: 15px;
					color: #767777;
					padding-top: 10px;
					.icon_marg {
						font-size: 20px;
						color: #d7dcde;
						margin-right: 10px;
					}
					.bg_checked {
						color: #009be5;
					}
				}
			}
		}
		.toogles_block {
			width: 25%;
			margin-left: 10px;
			vertical-align: top;
			.toggles_desc {
				margin: 30px 0 10px 0;
				.block_marg_r {
					margin-right: 20px;
				}
				.toggles_oval {
				  	width: 75px;
  					height: 27px;
					color: #009be5;
					border-radius: 20px;
					background-color: #bcc3c6;
					.togg_on {
					  	padding: 2px 0 0 10px;
						.toggles_circle {
							font-size: 20px;
							padding-left: 14px;
						}
					}
				}
				.toggles_oval_off {
					width: 75px;
  					height: 27px;
					color: #009be5;
					border-radius: 20px;
					background-color: #bcc3c6;
					.togg_off {
						padding-top: 2px;
						color: #fff;
						font-weight: bold;
						.toggles_circle_off {
							font-size: 20px;
						  	padding-left: 9px;
  							padding-right: 5px;
							color: #7f8c8d;
						}
					}
				}
				.toggles_square {
					width: 75px;
  					height: 27px;
					color: #009be5;
					border-radius: 4px;
					background-color: #bcc3c6;
					.togg_square_on {
						padding: 2px 0 0 10px;
						.toggles_square_icon {
						  	font-size: 20px;
  							padding-left: 5px;
 	 						padding-right: 9px;
						}
						.togg_square_icon {
							font-size: 30px;
  							margin: -4px 1px 0 0;
						}
					}
				}
			}
		}
	}
}