.uni_display {
	display: inline-block;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.btn {
	background: none;
	border: none;
  	cursor: pointer;
}
.login_uni_inp {
  padding: 10px 5px 10px 15px;
	margin: 20px 0 10px 25px;
  line-height: 1.42857143;
  background-color: #fff;
  outline-color: #1abc9c;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  color: #34495e;
  border: none;
	width: 81%;
}