/* line 4, ../sass/style.scss */
html, body {
  margin: 0px;
  padding: 0px;
}

/* line 9, ../sass/style.scss */
body {
  font-family: "Roboto", sans-serif;
  background-color: #ecf0f1;
}

/* line 1, ../sass/partials/_admin_helpers.scss */
.uni_display {
  display: inline-block;
}

/* line 4, ../sass/partials/_admin_helpers.scss */
.fl {
  float: left;
}

/* line 7, ../sass/partials/_admin_helpers.scss */
.fr {
  float: right;
}

/* line 10, ../sass/partials/_admin_helpers.scss */
.btn {
  background: none;
  border: none;
  cursor: pointer;
}

/* HEADER */
/* line 1, ../sass/partials/_admin_header.scss */
.header_top {
  display: block;
  position: relative;
  background-color: #039be5;
  -webkit-box-shadow: 0px 6px 5px 0px #d2d2d2;
  -moz-box-shadow: 0px 6px 5px 0px #d2d2d2;
  box-shadow: 0px 6px 5px 0px #d2d2d2;
  width: 100%;
  height: 100%;
}

/* line 11, ../sass/partials/_admin_header.scss */
.btn_navbar {
  margin: 20px 25px 25px 20px;
}
/* line 13, ../sass/partials/_admin_header.scss */
.btn_navbar .icon-bar {
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
  margin-top: 3px;
}

/* line 22, ../sass/partials/_admin_header.scss */
.menu_header_left {
  width: 60%;
}

/* line 25, ../sass/partials/_admin_header.scss */
.menu_header_rigth {
  width: 35%;
  margin-left: 25px;
}

/* line 29, ../sass/partials/_admin_header.scss */
.logotype {
  margin-left: 15px;
}
/* line 31, ../sass/partials/_admin_header.scss */
.logotype a {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
}

/* line 38, ../sass/partials/_admin_header.scss */
.icon_button {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
}
/* line 42, ../sass/partials/_admin_header.scss */
.icon_button i {
  margin-right: 10px;
  font-size: 20px;
}

/* line 47, ../sass/partials/_admin_header.scss */
.btn_header_admin {
  cursor: pointer;
  margin-left: 40px;
}
/* line 50, ../sass/partials/_admin_header.scss */
.btn_header_admin .admin_header_btn {
  color: #fff;
  font-size: 15px;
}
/* line 53, ../sass/partials/_admin_header.scss */
.btn_header_admin .admin_header_btn .desc_btn {
  margin: 0 10px 0 10px;
}
/* line 56, ../sass/partials/_admin_header.scss */
.btn_header_admin .admin_header_btn .icon_btn {
  font-size: 20px;
}

/*NAVBAR*/
/* line 1, ../sass/partials/_admin_navbar.scss */
.navbar_menu {
  position: absolute;
  left: -295px;
  width: 290px;
  background-color: #fff;
  -webkit-box-shadow: 0px 6px 5px 6px #d2d2d2;
  -moz-box-shadow: 0px 6px 5px 6px #d2d2d2;
  box-shadow: 0px 6px 5px 6px #d2d2d2;
  min-height: 1288px;
}
/* line 10, ../sass/partials/_admin_navbar.scss */
.navbar_menu .nav_bar {
  padding-top: 30px;
}
/* line 12, ../sass/partials/_admin_navbar.scss */
.navbar_menu .nav_bar .active {
  background-color: #ecf0f1;
  border-top: 1px solid #f7f9f9;
  border-bottom: 1px solid #f7f9f9;
}
/* line 17, ../sass/partials/_admin_navbar.scss */
.navbar_menu .nav_bar li {
  display: block;
  cursor: pointer;
  padding: 15px 15px 15px 26px;
}
/* line 21, ../sass/partials/_admin_navbar.scss */
.navbar_menu .nav_bar li:hover {
  background-color: #ecf0f1;
}
/* line 24, ../sass/partials/_admin_navbar.scss */
.navbar_menu .nav_bar li a {
  font-family: "Roboto", sans-serif;
  color: #696969;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
}
/* line 30, ../sass/partials/_admin_navbar.scss */
.navbar_menu .nav_bar li a .img_nav {
  width: 24px;
  height: 24px;
  margin-right: 25px;
}

/* line 1, ../sass/partials/_admin_dropdown_list.scss */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 53px;
  right: 25px;
  min-height: 56px;
  width: 286px;
}
/* line 8, ../sass/partials/_admin_dropdown_list.scss */
.dropdown-menu li {
  background: url("../image/Container.png") no-repeat;
  padding: 25px 10px 15px 84px;
  font-size: 15px;
}
/* line 12, ../sass/partials/_admin_dropdown_list.scss */
.dropdown-menu li .form_logout {
  cursor: pointer;
  color: #696969;
}

/*MAIN_BLOC*/
/* line 1, ../sass/partials/_admin_main.scss */
.container_main {
  font-family: "Roboto", sans-serif;
  padding-top: 0;
  width: 75%;
  min-width: 745px;
  position: relative;
  overflow: auto;
  height: 100%;
  min-height: 1300px;
  margin-left: 22%;
}
/* line 11, ../sass/partials/_admin_main.scss */
.container_main .admin_title_main {
  font-size: 27px;
  color: #676767;
  margin: 55px 20px 20px 35px;
}

/* line 1, ../sass/partials/_admin_main_blocks.scss */
.blocks {
  cursor: pointer;
  margin: 50px 5px 20px 20px;
}
/* line 4, ../sass/partials/_admin_main_blocks.scss */
.blocks .block_content {
  width: 20%;
  min-height: 210px;
  background-color: #fff;
  margin-right: 1%;
  padding: 25px 18px 15px 18px;
}
/* line 11, ../sass/partials/_admin_main_blocks.scss */
.blocks .img_content {
  display: table;
  margin: auto;
  width: 100px;
  height: 100px;
}
/* line 17, ../sass/partials/_admin_main_blocks.scss */
.blocks .block_description {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding: 30px 5px 30px 5px;
  color: #34495d;
}
/* line 24, ../sass/partials/_admin_main_blocks.scss */
.blocks .btn_block {
  background-color: #009be5;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 70px 10px 70px;
  margin: 15px 0px 10px 0px;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
}
/* line 33, ../sass/partials/_admin_main_blocks.scss */
.blocks .btn_block:hover {
  background: #47799;
}

/* line 1, ../sass/partials/_admin_main_support.scss */
.blocks_support {
  cursor: pointer;
  margin: 50px 5px 20px 20px;
}
/* line 4, ../sass/partials/_admin_main_support.scss */
.blocks_support .block_content_support {
  width: 20%;
  min-height: 210px;
  margin-right: 9%;
  padding: 25px 18px 15px 18px;
}
/* line 10, ../sass/partials/_admin_main_support.scss */
.blocks_support .img_circle {
  display: table;
  margin: auto;
  padding-bottom: 35px;
}
/* line 15, ../sass/partials/_admin_main_support.scss */
.blocks_support .btn_block_support {
  background-color: #009be5;
  display: table;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 55px 15px 55px;
  margin: auto;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
}
/* line 25, ../sass/partials/_admin_main_support.scss */
.blocks_support .btn_block_support:hover {
  background-color: #47799;
}
/* line 29, ../sass/partials/_admin_main_support.scss */
.blocks_support .pad_btn {
  padding: 15px 30px 15px 30px;
}
/* line 32, ../sass/partials/_admin_main_support.scss */
.blocks_support .description_support {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  padding: 30px 5px 30px 5px;
  color: #34495d;
}

/*SCROLLER*/
/* line 1, ../sass/partials/_admin_scroller.scss */
#scroller {
  bottom: 0px;
  right: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 30px;
  border: 2px solid #3bb0e8;
}
/* line 8, ../sass/partials/_admin_scroller.scss */
#scroller i {
  font-size: 18px;
  color: #3bb0e8;
}

/*ADMIN_FOOTER*/
/* line 1, ../sass/partials/_admin_footer.scss */
.footer_copy {
  background-color: #7f8c8d;
  -webkit-box-shadow: 0px 6px 5px 6px #d2d2d2;
  -moz-box-shadow: 0px 6px 5px 6px #d2d2d2;
  box-shadow: 0px 6px 5px 6px #d2d2d2;
  min-height: 70px;
}
/* line 7, ../sass/partials/_admin_footer.scss */
.footer_copy .admin_copy_footer {
  font-family: "Roboto", sans-serif;
  padding-top: 30px;
  font-weight: 200;
  display: table;
  margin: auto;
  color: #fff;
}

/* line 1, ../sass/partials/_admin_login.scss */
.login_page {
  background-color: #009be5;
  min-height: 700px;
  width: 100%;
}
/* line 5, ../sass/partials/_admin_login.scss */
.login_page .login_pad {
  padding-left: 30%;
  padding-top: 8%;
}
/* line 9, ../sass/partials/_admin_login.scss */
.login_page .login_content {
  vertical-align: top;
  margin-right: 7%;
  width: 18%;
}
/* line 13, ../sass/partials/_admin_login.scss */
.login_page .login_content .login_img {
  display: table;
  height: 100px;
  width: 100px;
  margin: auto;
}
/* line 19, ../sass/partials/_admin_login.scss */
.login_page .login_content .login_description {
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  text-align: right;
  font-size: 18px;
  color: #fff;
}
/* line 27, ../sass/partials/_admin_login.scss */
.login_page .login_form {
  background: url("../image/form_bg.png") no-repeat;
  font-family: "Roboto", sans-serif;
  vertical-align: top;
  height: 250px;
  width: 40%;
}
/* line 33, ../sass/partials/_admin_login.scss */
.login_page .login_form .login_inp {
  padding: 10px 5px 10px 15px;
  line-height: 1.42857143;
  background-color: #fff;
  outline-color: #1abc9c;
  margin: 20px 0 10px 25px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  color: #34495e;
  border: none;
  width: 81%;
}
/* line 46, ../sass/partials/_admin_login.scss */
.login_page .login_form .login_submit {
  padding: 15px 0px 14px 0px;
  background-color: #009be5;
  text-decoration: none;
  border-radius: 7px;
  font-weight: bold;
  font-size: 16px;
  display: table;
  margin: auto;
  border: none;
  color: #fff;
  width: 87%;
}
/* line 59, ../sass/partials/_admin_login.scss */
.login_page .login_form .forgot_ps {
  text-decoration: underline;
  padding-top: 16px;
  font-size: 14px;
  color: #cfd5d9;
  display: table;
  margin: auto;
}

/* line 5, ../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
