.login_page {
	background-color: $main_bluish;
	min-height: 700px;
	width: 100%;
	.login_pad {
		padding-left: 30%;
  		padding-top: 8%;
	}
	.login_content {
		vertical-align: top;
		margin-right: 7%;
		width: 18%;
		.login_img {
			display: table;
			height: 100px;
			width: 100px;
			margin: auto;
		}
		.login_description {
			font-family: $main_font;
			line-height: 20px;
			text-align: right;
			font-size: 18px;
			color: $f;
		}
	}
	.login_form {
		background: url('../image/form_bg.png') no-repeat;
		font-family: $main_font;
		vertical-align: top;
		height: 250px;
		width: 40%;
		.icon_user {
			background-image: url('../image/i_user.png');
			background-repeat: no-repeat;
			background-position: 300px;
		}
		.icon_lock {
			background-image: url('../image/i_lock.png');
			background-repeat: no-repeat;
			background-position: 300px;
		}
		.login_submit {
		  	background-color: $main_bluish;
		  	padding: 15px 0px 14px 0px;
		  	text-decoration: none;
		  	border-radius: 7px;
		  	font-weight: bold;
		  	font-size: 16px;
		  	cursor: pointer;
		  	display: table;
		  	margin: auto;
		  	border: none;
		    width: 87%;
		  	color: $f;
		    &:hover {
		    	background-color: $btn_hover;
		    }
		}
		.forgot_ps {
			text-decoration: underline;
			color: $font_color;
  			padding-top: 16px;	
			font-size: 14px;
  			display: table;
		  	margin: auto;
		}
	}
}