.blocks {
	margin: 50px 5px 20px 20px;
	cursor: pointer;
	.block_content {
  		padding: 25px 18px 15px 18px;
  		background-color: $f;
  		min-height: 210px;
  		margin-right: 1%;
  		width: 20%;
	}
	.img_content {
	  	display: table;
	  	margin: auto;
	  	width: 100px;
	  	height: 100px;
	}
	.block_description {
		padding: 30px 5px 30px 5px;
		color: $font_color;	
		text-align: center;
		font-weight: bold;
		font-size: 20px;
	}
	.btn_block {
		background-color: $main_bluish;
	    padding: 10px 70px 10px 70px;
	    margin: 15px 0px 10px 0px;
	    text-decoration: none;
	    border-radius: 3px;
	    font-weight: bold;
	    font-size: 15px;
		color: #fff;
		&:hover {
			background-color: $btn_hover;
		}
	}
}