//GENERAL

$main_bluish: #3498DB;
$font_color: #666666;
$btn_hover: #2980b9;
$silver: #bdc3c7;
$icon-font: 20px;
$f: #fff;

//FOOTER
$footer_bg: #7f8c8d;

//PALITRA THEMES
$turquoise: #1abc9c;
$green_sea: #16a085;

$emerland: #2ecc71;
$nerhritis: #27ae60;

$amethyst: #9b59b6;
$wisteria: #8e44ad;

$sun_flower: #1abc9c;
$orange: #16a085;

$carrot: #2ecc71;
$pumpkin: #27ae60;

$alizarin: #e74c3c;
$pomegranate: #c0392b;

$concrete: #95a5a6;
$asbestos: #7f8c8d;

$wet_asphalt: #34495e;
$midnight_blue: #2c3e50;